// Include custom variables default override

$primary : #78187f;
$primary-opacity-8 : #78187fcc;
$gray : #E6E6E6;

$headings-fonts-family: 'Roboto', sans-serif;
$font-family-base: 'Montserrat', sans-serif;

$theme-colors: (
    "primary": $primary,
    "primary-opacity-8": $primary-opacity-8,
    "gray": $gray
);

// create our own map

$custom-colors: (
    "icon-background": #e6adeb
);

// merge map

$theme-colors: map-merge($theme-colors , $custom-colors);

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/* ------------------- Global --------------------- */
html, body {
    margin: 0;
    padding: 0%;
}

img.custom-logo{
    max-height: 50px;
    width: auto;
}

/* ***************** HEADER ******************** */

.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }

            a {
                text-decoration: none;
                color:#000000;

                &:hover {
                    color: #444;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.site-header {

    .aws-search-field {
        font-size: 0.9rem;
        border-radius: 20px!important;
        padding-left: 1.4rem;
    }

    .cart-count-label {
        font-size: 12px;
        background: $primary;
        color: #fff;
        padding: 0 2px 0 5px;
        vertical-align: middle;
        top: -10px;
        left: -10px;
        border-radius: 100%;
        position: relative;
    }

}

/* LOGO STYLING */

.site-header, .site-footer {

    .jsm-site-logo{

        .logo-image {

            display: inline-block;

            img {
                max-width: 75px;
                height: auto;
                border: 2px solid #000000;
                padding: 1px;
            }

        }

        .logo-text {

            display: inline-block;
            position: relative;
            transform: translateY(15%);

            .site-title {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500px;
                letter-spacing: 2px;

                a {
                    color: #333;
                    text-decoration: none!important;

                    &:hover {
                        color: #111;
                    }
                }
                
            }

            .site-tagline {
                font-family: 'montez', sans-serif;
                letter-spacing: 0.15rem;
                font-weight: 500;
            }

        }

        @include media-breakpoint-down(md) {
            margin: 10px 0;
        }

    }

}

/* Main Menu */
#main-navbar {

    a.nav-link {
        color: white;

        &:hover {
            color: #999;
        }
    }

    a.dropdown-item {
        color: $primary;

        &:hover {
            color: black;
        }
    }

    .current-menu-item {
        border: 2px solid #9d32a5;
        border-radius: 4px;
    }
}

/* ******* Glassification ******* */
.glassified {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* -------- Box shadow -------- */
.shadowed-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* *********** Slider Control ************* */
.carousel {

    @extend .shadowed-box;

    .carousel-control-prev, .carousel-control-next {
        width: 9%;
    }
}

/* ---------------- Category Section --------------- */
.category-section {
    .woocommerce {
        ul {
            li.product-category {

                overflow: hidden;

                h2 {
                    background-color: $primary;
                    color: $gray;
                    line-height: 3rem;

                    mark {
                        background: transparent;
                        color: inherit;
                    }
                }

                h2:hover {
                    color: #fff;
                }
            }
        }
    }
}

.section-bg-color {
    background-color: #fafafa;
}

/* ***************** Simple Pages ************* */
.entry-header {
    .entry-title {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary;
    }
}

/* ------------- Woo pages --------------------- */

  .place-order, .payment_methods {
    background-color: #f9f9f9;
    border: #eee solid 2px;
    border-radius: 5px;

    .woocommerce-info {
        background-color: #efefef;
    }

  }

  .coupon input#coupon_code {
    min-width: 180px;
  }

  .woocommerce-MyAccount-navigation {

        border: $primary solid 2px;
        border-radius: 5px;
        padding: 2px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {

                margin: 2px;

                a {
                    display: block;
                    padding: 7px 0 7px 20px;
                    text-decoration: none;
                    color: $primary;
                    background-color: #dfdfdf;
                    font-weight: 600;

                    &:hover {
                        color: #dfdfdf;
                        background-color: $primary;
                    }
                }

            }

            li {
                a:before {
                    font-family: 'dashicons';
                    margin-right: 20px;
                    position: relative;
                    top: 2px;
                }
            }

            li.woocommerce-MyAccount-navigation-link--dashboard {

                a:before {
                    content: "\f102";
                }

            }

            li.woocommerce-MyAccount-navigation-link--orders {

                a:before {
                    content: "\f174";
                }

            }

            li.woocommerce-MyAccount-navigation-link--downloads {

                a:before {
                    content: "\f316";
                }

            }

            li.woocommerce-MyAccount-navigation-link--edit-address {

                a:before {
                    content: "\f11e";
                }

            }

            li.woocommerce-MyAccount-navigation-link--edit-account {

                a:before {
                    content: "\f110";
                }

            }

            li.woocommerce-MyAccount-navigation-link--customer-logout {

                a:before {
                    content: "\f310";
                }

            }

        }

  }

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea, 
.woocommerce-page form .form-row input.input-text, 
.woocommerce-page form .form-row text area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    padding: 14px 10px;
    font-size: 12px;
    color: #7a7a7a;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
}

.select2-container .select2-selection--single{
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px !important;
}
  
/* ***************** FOOTER ******************** */

.before-footer-menu-panel {

    h3 {
        font-size: 16px;
        text-transform: uppercase;
    }

    .menu {

        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0.3rem 0;
            font-size: 14px;
        }

        a:hover {
            color: #e6adeb;
        }

        p {
            font-size: 14px;
        }
    }

}

.site-footer {

    h3 {
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-menu {

        margin: 2rem;
        padding: 0;
        list-style-type: none;
        justify-content: center;

        display: flex;

        li {
            padding: 0 15px;

            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                color: #777;
            }
    
            a:hover {
                color: #000;
            }

        }

    }

    .site-intro {

        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;

        @include media-breakpoint-up(md){
            width: 600px;
        }
    }

    .social-network {
        list-style-type: none;
        display: flex;
        margin: 0 auto;
        padding: 0;
        width: 250px;

        li {
            margin: 0 auto;

            a:hover {
                color: #333;
            }

            i {
                font-size: 18px;
            }
        }
    }

}

/* COOKIES NOTICE */
#cookie-notice{
    color:#fff;
    font-family:inherit;
    background:#596cd5;
    padding:20px;
    position:fixed;
    bottom:10px;
    left:10px;
    width:100%;
    max-width:300px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    border-radius:5px;
    margin:0px;
    visibility:hidden;
    z-index:1000000;
    box-sizing:border-box;

    button {
        color:inherit;
        background:#3842c7;
        border:0;
        padding:10px;
        margin-top:10px;
        width:100%;
        cursor:pointer;
    }

    @include media-breakpoint-down(lg) {
        max-width:100%;
        bottom:0;
        left:0;
        border-radius:0;
    }
}
