// Include custom variables default override

$primary : #78187f;
$primary-opacity-8 : rgba(120, 24, 127, 0.8);
$gray : #E6E6E6;

$headings-fonts-family: 'Roboto', sans-serif;
$font-family-base: 'Poppins', sans-serif;

$theme-colors: (
    "primary": $primary,
    "primary-opacity-8": $primary-opacity-8,
    "gray": $gray
);

// create our own map

$custom-colors: (
    "icon-background": #e6adeb
);

// merge map

$theme-colors: map-merge($theme-colors , $custom-colors);

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

/* ------------------- Global --------------------- */
html, body {
    margin: 0;
    padding: 0%;
}

img.custom-logo{
    max-height: 50px;
    width: auto;
}

/* ***************** HEADER ******************** */

.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }

            a {
                text-decoration: none;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.site-header {

    .aws-search-field {
        font-size: 0.9rem;
        border-radius: 20px!important;
        padding-left: 1.4rem;
    }

    .custom-logo {
        width: auto;
        height: 50px;
    }

    .cart-count-label {
        font-size: 12px;
        background: $primary;
        color: #fff;
        padding: 0 2px 0 5px;
        vertical-align: middle;
        top: -10px;
        left: -10px;
        border-radius: 100%;
        position: relative;
    }
}

/* Main Menu */

.main-navigation {
    font-weight: 500;
    font-size: 14px;

    .current_page_item {
        background-color: #93409b;
    }

    a {
        color: var(--bs-white);
        padding: 0.6rem 1.4rem;
        text-transform: uppercase;
    }

    a:hover{
        background-color: #93409b;
    }

    .sub-menu {
        li {
            background-color: $primary;
        }
    }

}

.menu-toggle {
    background-color: $primary;
    border: none;
    color: white;
}

/* ******* Glassification ******* */
.glassified {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* -------- Box shadow -------- */
.shadowed-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* *********** Slider Control ************* */
.carousel {

    @extend .shadowed-box;

    .carousel-control-prev, .carousel-control-next {
        width: 9%;
    }
}

/* ---------------- Category Section --------------- */
.category-section {
    .woocommerce {
        ul {
            li.product-category {

                overflow: hidden;

                h2 {
                    background-color: $primary;
                    color: $gray;
                    line-height: 3rem;

                    mark {
                        background: transparent;
                        color: inherit;
                    }
                }

                h2:hover {
                    color: #fff;
                }
            }
        }
    }
}

.section-bg-color {
    background-color: #fafafa;
}

/* ***************** Simple Pages ************* */
.entry-header {
    .entry-title {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary;
    }
}

/* ------------- Woo pages --------------------- */
.badge {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */
    
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: 
      polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: $primary;
    color: white;
    font-size: 12px;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  }

  .place-order, .payment_methods {
    background-color: #e6adeb;
  }

  .coupon input#coupon_code {
    min-width: 200px;
  }
/* ***************** FOOTER ******************** */

.site-footer {

    h3 {
        font-size: 16px;
        text-transform: uppercase;
    }

    .menu {

        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0.3rem 0;
            font-size: 14px;
        }

        a:hover {
            color: #e6adeb;
        }

        p {
            font-size: 14px;
        }
    }

}

ul#secondary-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px;

    li {
        display: inline-block;
        padding: 10px;

        a {
            color: #8f8f8f;
            text-decoration: none;
        }

        a:hover  {
            color: #333;
        }
    }
}

/* COOKIES NOTICE */
#cookie-notice{
    color:#fff;
    font-family:inherit;
    background:#596cd5;
    padding:20px;
    position:fixed;
    bottom:10px;
    left:10px;
    width:100%;
    max-width:300px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
    border-radius:5px;
    margin:0px;
    visibility:hidden;
    z-index:1000000;
    box-sizing:border-box;

    button {
        color:inherit;
        background:#3842c7;
        border:0;
        padding:10px;
        margin-top:10px;
        width:100%;
        cursor:pointer;
    }

    @include media-breakpoint-down(lg) {
        max-width:100%;
        bottom:0;
        left:0;
        border-radius:0;
    }
}
